@import "./mix.scss";
@import "./reset.css";
// * {
//     tap-highlight-color: transparent;
//     -webkit-tap-highlight-color: transparent;
//     -ms-tap-highlight-color: transparent;
// }
* {
  margin: 0;
  padding: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    // -webkit-text-size-adjust: 100%;
    // background: #fff;
    // // min-width: 320px;
    // // margin: auto;
    // // height: 100%;
    // width: 100%;
    // // overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;
    // overflow-scrolling: touch;
    // -webkit-font-smoothing: antialiased;
    // font-family: PingFangSC,"Microsoft YaHei",Helvetica,"Droid Sans",Arial,sans-serif;
    // user-select: none;
    // -webkit-user-select: none;
}
body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
html,body,#app, .router-view {
    min-height: 100%;
    height: 100%;
    position: relative;
}
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.app {
  height: 100%;
}
select {
    background: transparent;
}
// .noscroll,
.noscroll body .noscroll #router{
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}
.noscroll body {
    position: relative;
}
#app {
  // width: 100%;
  // margin: auto;
  height: 100%;
}

.width-full {
  width: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    content:" ";
    font-size:0;
}
.fixed-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
    &.flex-h { // 子元素水平排雷
        flex-direction: row;
    }
    &.flex-h-c { // 子元素水平居中
        justify-content: center;
    }
    &.flex-h-start { // 子元素靠前
        justify-content: flex-start;
    }
    &.flex-h-end { // 子元素靠后
        justify-content: flex-end;
    }
    &.flex-h-between { // 子元素两头靠边，中间等距
        justify-content: space-between;
    }
    &.flex-h-around { // 子元素周围的距离都是相等的
        justify-content: space-around;
    }

    &.flex-v { // 子元素垂直排列
        flex-direction: column;
    }
    &.flex-v-c { // 子元素垂直居中
        align-items: center;
    }
    &.flex-v-start {
        align-items: flex-start;
    }
    &.flex-v-end {
        align-items: flex-end;
    }
    &.flex-v-baseline {
        align-items: baseline;
    }
    &.flex-v-stretch {
        align-items: stretch;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    .flex-1 {
        flex: 1;
    }
}
.flex-overflow2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-break: break-word;
    -webkit-box-orient: vertical;
}


