//设计稿宽度
//@function：函数  @mixin：混合
$screen:750;
@function px2rem($px) {
    @return #{$px/($screen/10)}rem
}
@function px2rem2($px) {
    @return #{$px/($screen/10)*2}rem
}
@mixin font-dpr($font-size) {
    font-size: $font-size * 1px;
    [data-dpr="2"] & {
        font-size: $font-size * 2px;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3px;
    }
}

// 1px 仔细阅读后使用哟，以免出错
@mixin one-left($color:#f0f0f2, $type:solid) {
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px; /*px*/
        bottom: 0;
        border-left: 1px $type $color; /*px*/
        color: $color;
        transform-origin: 0 0;
        transform: scaleX(0.5);
    }
}

@mixin one-right($color:#f0f0f2, $type:solid) {
    &:after {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px; /*px*/
        bottom: 0;
        border-right: 1px $type $color; /*px*/
        color: $color;
        transform-origin: 100% 0;
        transform: scaleX(0.5);
    }
}

@mixin one-top($color:#f0f0f2, $type:solid) {
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: -1px; /*px*/
        right: 0;
        height: 1px; /*px*/
        border-top: 1px $type $color; /*px*/
        color: $color;
        transform-origin: 0 0;
        transform: scaleY(0.5);
    }
}

@mixin one-bottom($color:#f0f0f2, $type:solid) {
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px; /*px*/
        border-bottom: 1px $type $color; /*px*/
        color: $color;
        transform-origin: 0 100%;
        transform: scaleY(0.5);
        z-index: 5;
    }
}

@mixin one-border($color:#f0f0f2, $type:solid, $radius:0) {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 200%;
        border: 1px $type $color; /*px*/
        border-radius: $radius;
        transform: translate(-50%, -50%) scale(.5);
    }
}

@mixin placeholderColor($color:#999999, $fontsize: px2rem2(14)) {
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $fontsize;
    }
    &::-moz-placeholder {
        color: $color;
        font-size: $fontsize;
    }
}

@import "./global.scss";
